<h4 style="color: #2980b9; margin: 10px 0">Genre List ></h4>

<div class="boxsearch">
  <span>Search:</span>
  <input type="search" (search)="getAll()" placeholder="Genre Name" [(ngModel)]="nameSearch" />
  <button class="btn btn-success" (click)="getAll()">Search</button>
</div>

<simple-ag-grid
  [columnDefs]="columnDefs"
  [rowData]="rowData"
  [defaultColDef]="defaultColDef"
  (callBackGrid)="onGridReady()"
  (rowClicked)="selectedRowClicked($event)"
  (changePage)="changePage($event)"
  [pagination]="true"
  [paginationParams]="paginationParams"
></simple-ag-grid>

<div class="action">
  <div class="action-item">
    <button class="btn btn-outline-success" (click)="openGenreModal(true)"><i class="fa-solid fa-plus"></i> Create</button>
  </div>
  <div class="action-item">
    <button class="btn btn-outline-primary" (click)="openGenreModal(false)" [disabled]="!selectedRow"><i class="fa fa-edit"></i> Update</button>
  </div>
  <div class="action-item">
    <button class="btn btn-outline-danger" (click)="deleteGenre()" [disabled]="!selectedRow"><i class="fa fa-trash"></i> Delete</button>
  </div>
</div>