<h3 class="comic-name text-center text-uppercase">{{ comic.name }}</h3>
<div class="comic-header">
  <div class="col-12 col-md-3 comic-container-image">
    <img
      class="comic-image"
      [alt]="comic.name"
      [defaultImage]="'/assets/loading.gif'"
      [lazyLoad]="comic.mainImage"
    />
  </div>
  <div class="col-12 col-md-8 mt-2">
    <div class="comic-content">
      <div class="d-flex align-items-top gap-2 comic-author">
        <p class="d-flex gap-2 pt-1">
          <i class="fa-solid fa-user" style="line-height: 1"></i
          ><span style="line-height: 1"> Author:</span>
        </p>
        <a
          class="comic-author-name"
          [ngClass]="comic.nullAuthorName ? 'no-author-name' : ''"
          (click)="goToAuthor(comic)"
          >{{ comic.authorName }}</a
        >
      </div>
      <div class="d-flex align-items-top gap-2 comic-author">
        <p class="d-flex gap-2 pt-1">
          <i class="fa-solid fa-rss"></i
          ><span style="line-height: 1"> Status:</span>
        </p>
        <span>{{ comic.isCompleted ? "Completed" : "In processing" }}</span>
      </div>
      <div class="d-flex align-items-top gap-2 comic-genre">
        <p class="d-flex gap-2 pt-1">
          <i class="fa-solid fa-tag" style="line-height: 1"></i>
          <span style="line-height: 1"> Genres:</span>
        </p>
        <p class="">
          <a
            class="text-decoration-none"
            *ngFor="let genre of comic.genres"
            (click)="
              router.navigateByUrl(
                '/genre-cus?genreName=' +
                  genre.name.replaceAll(' ', '-').toLowerCase()
              )
            "
            >{{ genre.name }},
          </a>
        </p>
      </div>
      <div class="d-flex align-items-top gap-2">
        <p class="d-flex gap-2 pt-1">
          <i style="line-height: 1" class="fa-solid fa-heart"></i
          ><span style="line-height: 1"> Total Follow:</span>
        </p>
        <span class="text-decoration-none">{{
          convertToK(comic.noFollows)
        }}</span>
      </div>
      <div class="d-flex align-items-top gap-2">
        <p class="d-flex gap-2 pt-1">
          <i style="line-height: 1" class="fa-solid fa-comment"></i
          ><span style="line-height: 1"> Total Comments:</span>
        </p>
        <span class="text-decoration-none">{{
          convertToK(comic.noComments)
        }}</span>
      </div>
      <div class="d-flex align-items-top gap-2">
        <p class="d-flex gap-2 pt-1">
          <i style="line-height: 1" class="fa-solid fa-eye"></i
          ><span style="line-height: 1"> Total Views:</span>
        </p>
        <span class="text-decoration-none">{{
          convertToK(comic.noViews)
        }}</span>
      </div>
      <div class="d-flex align-items-top gap-2 comic-rate">
        <p class="d-flex gap-2 pt-1">
          <i style="line-height: 1" class="fa-solid fa-star"></i
          ><span style="line-height: 1"> Rate:</span>
        </p>
        <span class="text-decoration-none"
          ><p-rating
            (onRate)="rating($event)"
            id="rating-comic-detail"
            [(ngModel)]="comic.rate"
            [cancel]="false"
          ></p-rating
        ></span>
      </div>
      <span class="fst-italic opacity-75"
        >Ranking {{ comic.rate }}/5 in
        {{ convertToK(comic.noReviews) }} reviews</span
      >
      <div class="comic-follow mt-3" *ngIf="!comic.isFollow">
        <button class="btn btn-success" (click)="follow()">
          <i class="fa-solid fa-heart"></i> Follow
        </button>
      </div>
      <div class="comic-unfollow mt-3" *ngIf="comic.isFollow">
        <button class="btn btn-danger" (click)="unfollow()">
          <i class="fa-solid fa-xmark"></i> Unfollow
        </button>
      </div>
      <div
        class="comic-utility-action"
        *ngIf="comic.chapters && comic.chapters.length > 0"
      >
        <button class="first-button" (click)="readFirst()">
          First Chapter
        </button>
        <button class="newest-button" (click)="readNewest()">
          Newest Chapter
        </button>
        <button
          class="continue-button"
          *ngIf="comic.chapterIdContinue != 0"
          (click)="
            router.navigateByUrl(
              '/comic-detail/' +
                toValidURL(comic.name) +
                '/' +
                comic.id +
                '/' +
                toValidURL(comic.chapterNameContinue) +
                '/' +
                comic.chapterIdContinue
            )
          "
        >
          Read Continute >
        </button>
      </div>
    </div>
  </div>
</div>

<div class="comic-desc">
  <h3 class="list-title"><i class="fa fa-file-text-o"> </i> Nội dung</h3>
  <p class="shortened" [ngClass]="isSortDesc ? 'sort-desc' : 'full-desc'">
    {{ comic.desc }}
  </p>
  <a class="morelink" (click)="showMoreDesc()"
    >Xem thêm <i class="fa fa-angle-right"></i
  ></a>
</div>

<div class="comic-chapters-header">
  <h3 class="list-title"><i class="fa fa-list"> </i> Chapters</h3>

  <div class="d-flex">
    <div class="col-5"><span>Số chương</span></div>
    <div class="col-4 text-center"><span>Cập nhật</span></div>
    <div class="col-3 text-center"><span>Xem</span></div>
  </div>
  <ul
    class="comic-chapters-content"
    *ngIf="comic.chapters && comic.chapters.length > 0"
  >
    <li class="chapter-item" *ngFor="let chapter of comic.chapters">
      <div class="col-5 text-left">
        <a
          class="chapter-name"
          [ngClass]="chapter.hasRead ? 'has-read' : ''"
          [routerLink]="
            '/comic-detail/' +
            toValidURL(comic.name) +
            '/' +
            comic.id +
            '/' +
            toValidURL(chapter.name) +
            '/' +
            chapter.id
          "
          >{{ chapter.name }}</a
        >
      </div>
      <div class="col-4 text-center">{{ chapter.updateTime | timeago }}</div>
      <div class="col-3 text-center">{{ chapter.view }}</div>
    </li>
  </ul>
  <p
    *ngIf="comic.chapters && comic.chapters.length == 0"
    style="margin: 5px; color: #666; font-size: 16px"
  >
    No chapters available!
  </p>
</div>

<comments
  [user]="user"
  [name]="nameComment"
  [content]="contentComment"
  [comments]="comments"
  [paginationParams]="paginationParamsComment"
  (changeContent)="contentComment = $event"
  (changeName)="nameComment = $event"
  (changePagination)="changePageComment($event)"
  (sendEvent)="sendComment()"
  (refeshEvent)="refeshComment()"
>
</comments>
