<h1>Hot Comics</h1>

<div class="boxsearch mt-1 mb-2">
  <span>Search:</span>
  <input
    class="name-search"
    type="text"
    [(ngModel)]="comicName"
    placeholder="Name comic"
  />
  <div class="form-check is-only-in-processing">
    <input
      class="form-check-input"
      [(ngModel)]="isOnlyHotComic"
      type="checkbox"
      id="flexCheckDefault"
    />
    <label class="form-check-label" for="flexCheckDefault">
      Only Hot Comic
    </label>
  </div>

  <button class="btn btn-success" (click)="getAll()">Search</button>
</div>

<simple-ag-grid
  [columnDefs]="columnDefs"
  [rowData]="rowData"
  [defaultColDef]="defaultColDef"
  (callBackGrid)="onGridReady()"
  (rowClicked)="selectedRowClicked($event)"
  (changePage)="changePage($event)"
  [pagination]="true"
  [paginationParams]="paginationParams"
></simple-ag-grid>

<div class="action">
  <div class="action-item">
    <button class="btn btn-outline-info" (click)="getAll()">
      <i class="fa fa-refresh"></i> Refesh
    </button>
  </div>
</div>
