<form autocomplete="off" (submit)="resetpass()">
    <h1>Reset Password</h1>

    <div class="form-control">
        <label for="email">Email</label>
        <input [(ngModel)]="resetPasswordDto.email" [ngModelOptions]="{standalone: true}" type="email" id="email">
    </div>

    <div class="form-control">
        <label for="password">New Password</label>
        <input [(ngModel)]="resetPasswordDto.newPassword" [ngModelOptions]="{standalone: true}" type="password" id="password">
    </div>

    <button type="submit">Reset Password</button>

    <a class="login" routerLink="/login">Has account? login now</a>

</form>