.navbar .navbar-nav .nav-item a {
  padding: 15px;
}

.navbar .navbar-nav .nav-but {
  padding: 10px;
}

.logo {
  background: #fff;
  color: #000;
  text-decoration: none;
  text-align: center;
  width: 3rem;
  min-width: 3rem;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  border: none;
}

.has-account {
  text-decoration: none;
  .dropdown-toggle,
  .dropdown-menu,
  .dropdown-item {
    cursor: pointer;
  }

  img {
    max-height: 50px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline;
  }
}

.no-account {
  .login,
  .register {
    cursor: pointer;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
  }

  .login:hover,
  .login:focus,
  .register:hover,
  .register:focus {
    text-decoration: underline;
  }
}
