<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand logo" routerLink="/home" routerLinkActive="active"
      >TH</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-3 mb-lg-0">
        <div *ngFor="let data of sidebarList">
          <li class="nav-item" *ngIf="!data.items">
            <a
              class="nav-link"
              [routerLink]="data.routeLink"
              routerLinkActive="active"
              (click)="closeNav()"
              >{{ data.label }}</a
            >
          </li>

          <li *ngIf="data.items" class="nav-item dropdown">
            <div>
              <a
                class="nav-link dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
                [ngClass]="{ active: router.url.startsWith('/admin') }"
                >{{ data.label }}</a
              >
              <ul class="dropdown-menu mb-5">
                <submenu
                  [sidebarList]="data.items"
                  (clickLink)="closeNav()"
                ></submenu>
              </ul>
            </div>
          </li>
        </div>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <div *ngIf="!(accountService.currentUser$ | async)">
          <div class="no-account">
            <a [routerLink]="['login']" class="login" (click)="closeNav()"
              >Login</a
            >
            <span style="color: #fff"> / </span>
            <a [routerLink]="['register']" class="register" (click)="closeNav()"
              >Register</a
            >
          </div>
        </div>
        <a
          *ngIf="accountService.currentUser$ | async as user"
          class="has-account dropdown"
        >
          <div class="dropdown-toggle text-light" data-bs-toggle="dropdown">
            <div class="image-avatar">
              <img
                src="{{ user.photoUrl || './assets/user.png' }}"
                alt="user photo"
              />
              <div class="dot-avatar"></div>
            </div>
            <span class="text-light ms-3">Wellcome </span>
          </div>
          <ul class="dropdown-menu">
            <li class="dropdown-item" (click)="router.navigateByUrl('/notify')">
              <a class="notify-tab"
                >Notification
                <div class="dot-notify"></div
              ></a>
            </li>
            <li
              class="dropdown-item"
              routerLink="/account-detail"
              (click)="closeNav()"
            >
              <a>Edit Profile</a>
            </li>
            <li class="dropdown-item" (click)="logout()"><a>Logout</a></li>
          </ul>
        </a>
      </ul>
    </div>
  </div>
</nav>
