<h4 style="color: #2980b9; margin: 10px 0">Chapter Manager ></h4>

<div class="boxsearch mt-1 mb-2">
  <span>Comic Name:</span>
  <input
    class="name-search"
    type="search"
    (search)="getAll()"
    [(ngModel)]="comicName"
    placeholder="Comic Name"
  />
  <span>Chapter Name:</span>
  <input
    class="name-search"
    type="search"
    (search)="getAll()"
    [(ngModel)]="chapterName"
    placeholder="Chapter Name"
  />
  <button class="btn btn-success" (click)="getAll()">Search</button>
</div>

<simple-ag-grid
  [columnDefs]="columnDefs"
  [rowData]="rowData"
  [defaultColDef]="defaultColDef"
  (callBackGrid)="onGridReady()"
  (rowClicked)="selectedRowClicked($event)"
  (changePage)="changePage($event)"
  [pagination]="true"
  [paginationParams]="paginationParams"
></simple-ag-grid>

<div class="action">
  <div class="action-item">
    <button
      class="btn btn-danger"
      (click)="deleteChapter()"
      [disabled]="!selectedRow"
    >
      <i class="fa-solid fa-trash"></i> Delete
    </button>
  </div>
</div>
