<h4 style="color: #2980b9; margin: 10px 0">Comics Following ></h4>

<div class="no-comic" *ngIf="followComics.length == 0">
  You haven't followed any comics yet
</div>

<div class="follow-comic" *ngIf="followComics.length > 0">
  <div class="d-flex flex-wrap comic-container">
    <div
      class="col-6 col-md-3 col-xl-2 comic-card"
      *ngFor="let comic of followComics"
    >
      <div class="comic-img">
        <img
          [defaultImage]="'/assets/loading.gif'"
          (click)="
            router.navigateByUrl(
              '/comic-detail/' +
                toValidURL(comic.comicName) +
                '/' +
                comic.id
            )
          "
          [lazyLoad]="comic.mainImage"
          alt="{{ comic.comicName }}"
          [loading]="true"
        />
        <span
          class="read-continue"
          *ngIf="comic.chapterIdContinue"
          (click)="
            router.navigateByUrl(
              '/comic-detail/' +
                toValidURL(comic.comicName) +
                '/' +
                comic.id +
                '/' +
                toValidURL(comic.chapterNameContinue) +
                '/' +
                comic.chapterIdContinue
            )
          "
          ><a>Continue reading {{ comic.chapterNameContinue }} </a></span
        >
      </div>
      <h5
        class="comic-name"
        (click)="
          router.navigateByUrl(
            '/comic-detail/' +
              toValidURL(comic.comicName) +
              '/' +
              comic.id
          )
        "
      >
        {{ comic.comicName }}
      </h5>
      <div class="comic-chapters">
        <div class="chapter-info" *ngFor="let chapter of comic.chapters">
          <a
            class="chapter-name"
            [ngClass]="chapter.hasRead ? 'has-read' : ''"
            [routerLink]="
              '/comic-detail/' +
              toValidURL(comic.comicName) +
              '/' +
              comic.id +
              '/' +
              toValidURL(chapter.name) +
              '/' +
              chapter.id
            "
            >{{ chapter.name }}</a
          >
          <span class="chapter-update-time">{{
            chapter.updateTime | timeago
          }}</span>
        </div>
      </div>
    </div>
  </div>

  <div
    id="paginate-follow"
    *ngIf="paginationParams.totalPages > 1"
    style="margin-top: 20px"
  >
    <p-paginator
      locale="en-US"
      (onPageChange)="paginationChange($event)"
      [first]="
        (paginationParams.currentPage - 1) * paginationParams.itemsPerPage
      "
      [rows]="paginationParams.itemsPerPage"
      [totalRecords]="paginationParams.totalItems"
      [showCurrentPageReport]="false"
    ></p-paginator>
  </div>
</div>
