.main {
  min-height: 500px;
  margin: 0 auto;
  padding: 10px 10px;

  .boxsearch {
    margin: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    input {
      width: 300px;
      margin: 0 10px;
      padding: 5px;
      border-radius: 10px;
    }
  }

  .item-comic {
    .image-comic {
      width: 100%;
      height: 200px;
      margin-top: 10px;
      object-fit: contain;
    }

    .name-comic {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: pre-line;
      font-size: 16px;
      font-weight: 500;
      margin: 10px 0;
    }

    .chapters-comic {
      display: block;
      width: 100%;
      min-height: 100px;

      ul {
        list-style: none;
        padding: 0;

        li {
          display: flex;
          font-size: 13px;
          line-height: 1.5;
          padding: 2px 0;
          cursor: pointer;
          justify-content: space-between;

          .chapter-name {
            text-decoration: none;
            color: #000;
          }
        }

        li:hover,
        li:active,
        li:focus,
        li:visited {
          .chapter-name {
            color: #03f;
          }
        }
      }
    }
  }

  .comic {
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid #666;
    gap: 20px;

    .img-comic {
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      img {
        width: 90%;
        height: 90%;
      }
    }

    .content-comic {
      .comic-name {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.5;
        padding: 10px 0;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-line;
      }

      .comic-desc {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: pre-line;
      }
    }
  }
}

#report-error-chapters {
  .boxsearch {
    margin: 10px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;

    .name-search {
      width: 300px;
      margin: 0 10px;
      padding: 5px;
      border-radius: 10px;
    }

    .is-only-in-processing {
      width: 300px;
      margin: 0 10px;
    }
  }
  .action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;

    .action-item {
      margin: 0 5px;
    }
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  :host ::ng-deep {
    #paginate-uploadcommic {
      .p-paginator .p-paginator-pages .p-paginator-page,
      .p-paginator .p-paginator-next,
      .p-paginator .p-paginator-last,
      .p-paginator .p-paginator-prev,
      .p-paginator .p-paginator-first {
        min-width: 35px;
      }
    }
  }
}
