<ngx-spinner>
  <h3>Loadding...</h3>
</ngx-spinner>
<app-navbar></app-navbar>

<div class="container pt-4 pb-4" style="min-height: 80vh">
  <router-outlet></router-outlet>
</div>

<button (click)="clickToTop()" id="move-to-top" class="btn btn-danger">
  <i class="fa-solid fa-chevron-up"></i>
</button>

<div class="footer">
  <div class="container">
    <div class="top-footer">
      <a class="logo" routerLink="/">
        <img src="../assets/logo2.png" alt="" />
      </a>
      <span>
        Email Support:
        <a href="https://mail.google.com/mail">duythuy10c@gmail.com</a>
      </span>
      <div class="list-icon">
        <div class="item">
          <a href="https://twitter.com/?lang=vi"
            ><i class="fa-brands fa-twitter"></i
          ></a>
        </div>
        <div class="item">
          <a href="https://www.instagram.com/ng.swag/">
            <i class="fa-brands fa-instagram"></i>
          </a>
        </div>
        <div class="item">
          <a href="https://www.facebook.com/">
            <i class="fa-brands fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="copy-right">
      <span>© 2024 Rangasaka, Vn</span>
    </div>
  </div>
</div>
