<div *ngFor="let data of sidebarList" [class]="data.items ? 'dropend' : ''">
  <div *ngIf="!data.items">
    <li (click)="clickRouteLink()">
      <a class="dropdown-item" [routerLink]="data.routeLink">{{
        data.label
      }}</a>
    </li>
  </div>
  <div *ngIf="data.items">
    <div
      class="dropdown-item dropdown dropend dropdown-toggle"
      data-bs-toggle="dropdown"
      data-bs-auto-close="outside"
    >
      {{ data.label }}
    </div>
    <ul class="dropdown-menu dropend" >
      <div class="">
        <submenu [sidebarList]="data.items" (clickLink)="clickRouteLink()"></submenu>
      </div>
    </ul>
  </div>
</div>
