<h2>Request Author</h2>

<div class="boxsearch d-flex align-items-center flex-wrap">
  <div class="row">
    <div class="col-12 col-md-6 col-xl-3">
      <span class="mt-1 mb-1">Search Email:</span>
      <input
        type="text"
        [(ngModel)]="emailSearch"
        class="mt-1 mb-1 inputserch"
      />
    </div>

    <div class="col-12 col-md-6 col-xl-3">
      <span class="mt-1 mb-1">From Date:</span>
      <input
        class="mt-1 mb-1 inputserch"
        type="date"
        [ngModel]="fromDate | date : 'yyyy-MM-dd'"
        (ngModelChange)="fromDate = bidingDate($event)"
        [max]="maxDate | date : 'yyyy-MM-dd'"
      />
    </div>

    <div class="col-12 col-md-6 col-xl-3">
      <span class="mt-1 mb-1">To Date:</span>
      <input
        class="mt-1 mb-1 inputserch"
        type="date"
        [ngModel]="toDate | date : 'yyyy-MM-dd'"
        (ngModelChange)="toDate = bidingDate($event)"
        [max]="maxDate | date : 'yyyy-MM-dd'"
      />
    </div>

    <div class="col-12 col-md-6 col-xl-3 d-flex align-items-center">
      <div class="form-check mt-1 mb-1">
        <input
          class="form-check-input"
          type="checkbox"
          [(ngModel)]="onlySendRequest"
          id="flexCheckDefault"
        />
        <label class="form-check-label" for="flexCheckDefault">
          Only send request
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-3 col-xl-4">
        <button class="btn btn-success" (click)="getAll()">Search</button>
      </div>
    </div>
  </div>
</div>

<simple-ag-grid
  [columnDefs]="columnDefs"
  [rowData]="rowData"
  [defaultColDef]="defaultColDef"
  (callBackGrid)="onGridReady()"
  (rowClicked)="selectedRowClicked($event)"
  (changePage)="changePage($event)"
  [pagination]="true"
  [paginationParams]="paginationParams"
></simple-ag-grid>

<div class="action">
  <div class="action-item">
    <button
      (click)="acceptRequest()"
      class="btn btn-outline-success"
      [disabled]="
        !(selectedRow && (selectedRow.status == 0 || selectedRow.status == 1))
      "
    >
      <i class="fa-solid fa-plus"></i> Accept
    </button>
  </div>

  <div class="action-item">
    <button
      (click)="contactRequest()"
      class="btn btn-outline-info"
      [disabled]="!(selectedRow && selectedRow.status == 0)"
    >
      <i class="fa fa-edit"></i> Contact
    </button>
  </div>

  <div class="action-item">
    <button
      (click)="denyRequest()"
      class="btn btn-outline-danger"
      [disabled]="
        !(selectedRow && (selectedRow.status == 0 || selectedRow.status == 1))
      "
    >
      <i class="fa fa-edit"></i> Deny
    </button>
  </div>
</div>
